@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('./nav.css');
@import url("./form.css");

:root {
  --bg-clr: #fafafa;
  --txt-clr: #4c5160;
  --main-clr: #3373E6;
}

/* Estilos específicos para el modo oscuro */
/* @media (prefers-color-scheme: dark) {
    body {
      background-color: #30343F;
      color: #ffffff;
    }
} */

.active {
  background-color: aqua;
  color: #212529;
}